* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    user-select: none;
    font-family: 'Roboto Mono', monospace;
}

.speed {
    background-color: #965d5d;
}

.game {
    width: 100000px;
    height: 10000px;
    background-color: rgb(126, 126, 126);
    position: relative;
    transition: 0.5s;
}

.map {
    position: relative;
}

.obj {
    position: absolute;
}

.platform-1 {
    left: 0px;
    top: 500px;
    width: 700px;
    height: 100px;
    background-color: #494949;
}

.platform-2 {
    left: 800px;
    top: 800px;
    width: 700px;
    height: 100px;  
}

.platform-4 {
    left: 1500px;
    top: 700px;
    width: 10000px;
    height: 100px;
}

.platform-3 {
    left: 80px;
    top: 700px;
    width: 700px;
    height: 100px;
    background-color: #494949;
}

.platform-5 {
    left: 4300px;
    top: 400px;
    width: 5000px;
    height: 100px;
    background-color: #494949;
}

.player-style {
    fill: #A34343;
}

.player {
    width: 50px;
    height: 50px;
    translate: 0px;
    transform: translateY(-100px);
    z-index: 10;
}

.hitbox-player {
    width: 33.33px;
    height: 33.33px;
    background-color: #fff;
}

.ui {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.effects {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
}


.text {
    font-size: 26px;
    width: 100%;
    padding: 0 400px;
    position: absolute;
    top: 150px;
    text-align: center;
    transition: 0.5s;
}

.light-click > p {
    font-size: 26px;
    width: 200px;
    padding-top: 15px;
    color: white;
}

.light-click > svg {
    fill: white;
}

.light-click {
    position: absolute;
    display: flex;
    top: 200px;
    left: 1200px;
    opacity: 0;
    transition: 1s;
}

.light {
    transition: backdrop-filter 0.3s;
    z-index: 1000000;
    width: 600px;
    height: 100px;
    background-color: transparent;
    clip-path: polygon(0 50%, 100% 100%, 100% 0);
    display: none;
}

.black-cube {
    position: absolute;
    width: 33px;
    height: 33px;
    transition: background-color 0.3s;
}

button {
    position: absolute;
    top: 0;
    left: 0;
}